<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: lang.all_communities.text }); %>
<body>
<div id="body">
    <header id="header">
        <h1 id="page-title" class=""><%= lang.all_communities.text %></h1>
    </header>
    <div class="body-content">
        <div class="communities-list">
            <ul class="list-content-with-icon-column" id="community-new-content">
                <% for(var i = 0; i < communities.length; i++) {%>
                    <% var communityID = communities[i].community_id; %>
                    <li id="<%=communityID%>">
                        <span class="icon-container"><img src="http://mii.olv.pretendo.cc/icons/<%=communityID%>/128.png" class="icon" alt=""></span>
                        <a href="/titles/<%=communityID%>/new" data-pjax="#body" class="scroll to-community-button"></a>
                        <div class="body">
                            <div class="body-content">
                                <span class="community-name title"><%= communities[i].name %></span>
                                <br>
                                <span class="text"><%= communities[i].followers %> <%= lang.community.followers %></span>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
</body>
</html>