<%if(user === undefined || user === null) {%>
<body>
<h1>You are not authorized to access this application</h1>
<p>If you believe this is an issue, contact @JemTanuki on Discord</p>
<p>Error: <%=error%></p>
</body>
<script>
    cave.error_callFreeErrorViewer(5980020, '<%=error%>\n\nIf you have any questions contact the developers in the Discord server.');
    cave.exitApp();
</script>
<%} else {%>
<script>
	<% if(networkBan) {%>
	cave.error_callFreeErrorViewer(5980010, '<%=PNID%> has been banned from the network.\n\nReason: <%=user.ban_reason%>\n\nIf you have any questions contact the moderators in the Discord server or forum.');
	cave.closeApplication();
    <%} else if(user.account_status === 1) {%>
    cave.error_callFreeErrorViewer(5980009, '<%=PNID%> has been limited from posting until: \n\n<%= moment(user.ban_lift_date) %>.\n\nReason: <%=user.ban_reason%>\n\nIf you have any questions contact the moderators in the Discord server or forum.');
    location.href = '/communities';
    <%} else if(user.account_status === 2) {%>
    cave.error_callFreeErrorViewer(5980010, '<%=PNID%> has been banned until: \n\n<%= moment(user.ban_lift_date) %>.\n\nReason: <%=user.ban_reason%>\n\nIf you have any questions contact the moderators in the Discord server or forum.');
    cave.closeApplication();
    <%} else if(user.account_status === 3) {%>
    cave.error_callFreeErrorViewer(5980011, '<%=PNID%> has been banned forever.\n\nReason: <%=user.ban_reason%>\n\nIf you have any questions contact the moderators in the Discord server or forum.');
    cave.closeApplication();
    <%}%>
</script>
<%}%>
