<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/juxt.css">
    <script src="/js/juxt.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-279PNEDGEE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-279PNEDGEE');

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T9NZ7BK');</script>
    <!-- End Google Tag Manager -->
    </script>
</head>
<body>
<menu id="nav-bar" class="">
    <li id="nav-bar-profile" data-url="users/me" class="" onclick="loadTab(this)"><a>User Page</a></li>
    <li id="nav-bar-activity-feed" data-url="activity-feed" class="" onclick="loadTab(this)"><a>Activity Feed</a></li>
    <li id="nav-bar-communities" data-url="communities" class="selected" onclick="loadTab(this)"><a>Communities</a></li>
    <li id="nav-bar-messages" data-url="messages" class="" onclick="loadMessagesTab();"><a>Messages<span id="messages-badge" class="badge" style=""></span></a></li>
    <li id="nav-bar-news" data-url="news" class="" onclick="loadTab(this)"><a>Notifications<span id="news-badge" class="badge" style=""></span></a></li >
    <li id="nav-bar-exit" class="" onclick="exit()"><a href="">Close</a></li>
</menu>
<div id="main">
    <div id="windowOverlay" class="overlay" style="margin-bottom: 0">
        <div class="overlay-content">
            <div id="post-window" class="post-wrapper">
                <!--Start of Main Post-->
                <form action="/users/me" method="post" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td colspan="2">
                                <h1 class="communities-header" style="padding-left: 75px; padding-top: 10px">Post to <%= community.name %></h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="post-type-button-text">T</div>
                            </td>
                            <td style="padding-left: 75px;" rowspan="2">
                                <textarea id="comment" name="comment" placeholder="Tap here to make a post." style="margin-bottom: 0; height: 200px" maxlength="300" rows="4" cols="50" onchange="if(wiiuFilter.checkWord(this.value) === -2) { this.value = ''; alert('Prost cannot contain explicit language');}"></textarea>
                            </td>
                            <br>
                        </tr>
                        <tr>
                            <td>
                                <div class="post-type-button-painting">P</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="post-close-button-wrapper" colspan="2">
                                <div class="post-close-button" onclick="hideNewPostScreen()" ></div>
                            </td>
                            <td>
                                <input type="submit" value="Submit" class="submit-button" style="margin-left: -124px;" onclick="wiiuSound.playSoundByName('SE_WAVE_MENU', 1);wiiuSound.playSoundByName('BGM_OLV_MAIN_LOOP_NOWAIT', 3);">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="community-page-header" style="background-image: url('<%= community.WiiU_browser_header %>')"></div>
    <div class="community-page-header-overlay"></div>
    <div class="community-page-back-button" onclick="window.history.back()"></div>
    <div id="community-new-post-wrapper" <%if(user.pid === 1000000000) {%> style="display: none" <%}%>>
        <div class="new-post-button-text" onclick="showNewPostScreen()">
            + New Post
        </div>
    </div>
    <div class="community-page-info-container">
        <%if(user.followed_communities.indexOf(community.id) !== -1){ %>
            <div class="community-page-follow-button-wrapper selected">
                <p class="community-page-follow-button-text" id="<%= community.id %>" onclick="followCommunity(this)" style="color: #FFFFFF">Following</p>
            </div>
        <%} else {%>
        <div class="community-page-follow-button-wrapper" <%if(user.pid === 1000000000) {%> style="display: none" <%}%>>
            <p class="community-page-follow-button-text" id="<%= community.id %>" onclick="followCommunity(this)">Follow Community</p>
        </div>
        <%}%>
        <img class="community-page-info-icon" src="<%= community.browser_icon %>">
        <h2 class="community-page-title"><%= community.name %></h2>
        <h4 class="community-page-description"><%= community.description %></h4>
        <div class="community-page-margin-line"></div>
        <table class="community-page-table-wrapper">
            <tbody>
            <tr>
                <td>
                    <div class="community-page-shaded-info-container">
                        <h4 class="community-page-table-label">Followers</h4>
                        <h4 class="community-page-table-text"><%= community.followers %></h4>
                    </div>
                </td>
                <td>
                    <div class="community-page-shaded-info-container">
                        <h4 class="community-page-table-label">Posts</h4>
                        <h4 class="community-page-table-text"><%=totalNumPosts%></h4>
                    </div>
                </td>
                <td>
                    <div class="community-page-shaded-info-container" style="width: 500px;">
                        <h4 class="community-page-table-label">Tags</h4>
                        <h4 class="community-page-table-text">N/A</h4>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="community-page-posts-wrapper">
        <table class="community-page-posts-header">
            <tbody>
            <tr>
                <td>
                    <h4 id="recent-tab" onclick="loadPosts(0)" class="community-page-posts-header-tab active">Recent posts</h4>
                </td>
                <td>
                    <h4 id="popular-tab" onclick="loadPosts(1)" class="community-page-posts-header-tab">Popular posts</h4>
                </td>
                <td>
                    <h4 id="verified-tab" onclick="loadPosts(2)" class="community-page-posts-header-tab">Verified posts</h4>
                </td>
            </tr>
            </tbody>
        </table>
        <% newPosts.forEach(function(post) { %>
        <div class="post-user-info-wrapper">
            <%if(post.verified) {%>
                <img class="community-page-post-user-icon verified" src="<%= post.mii_face_url %>" onclick="loadUserProfile(<%=post.pid%>)">
                <span class="community-page-verified-user-badge community-page-verified" style=""></span>
            <%} else {%>
                <img class="community-page-post-user-icon" src="<%= post.mii_face_url %>" onclick="loadUserProfile(<%=post.pid%>)">
                <span class="community-page-verified-user-badge community-page-verified" style="display: none;"></span>
            <%}%>
            <h2 class="community-page-post-username" onclick="loadUserProfile(<%=post.pid%>)"><%= post.screen_name %></h2>
            <h4 class="community-page-post-time-stamp"><%= post.created_at %></h4>

            <div class="community-page-post-yeah-button-wrapper <%if(user.likes.indexOf(post.id) !== -1){ %> selected <%}%>" >
                <div class="community-page-post-yeah-button" <%if(user.pid !== 1000000000) {%> onclick="yeah(this.parentNode, <%= post.id %>)" <%}%>></div>
            </div>
            <div id="yeah-<%= post.id %>" class="community-page-post-yeah-count"><%= post.empathy_count %> Yeahs</div>
        </div>
        <%if(post.screenshot !== '' && post.painting === '' && post.url === '' && post.body === '') {%>
            <div class="community-page-post-wrapper">
                <img id="<%= post.id %>" class="community-page-post-screenshot" src="data:image/png;base64,<%= post.screenshot %>">
            </div>
        <% } else if(post.painting !== '' && post.screenshot === '' && post.url === '') {%>
            <div class="community-page-post-wrapper">
                <img id="<%= post.id%>" class="community-page-post-painting" src="<%= post.painting_uri %>">
            </div>
        <% } else if(post.url !== '' && post.screenshot === '' && post.painting === '' && post.body === '') {%>
            <div class="community-page-post-wrapper">
                <iframe width="760" height="427.5" src="<%= post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        <% } else if(post.body !== '' && post.screenshot === '' && post.painting === '' && post.url === '') {%>
            <div class="community-page-post-wrapper">
                <h3><%= post.body %></h3>
            </div>
        <% } else if(post.screenshot !== '' && post.body !== '' && post.painting === '' && post.url === '') {%>
            <div class="community-page-post-wrapper">
                <img id="<%= post.id %>" class="community-page-post-screenshot" src="data:image/png;base64,<%= post.screenshot %>">
                <div class="community-page-post-text-overlay">
                    <h3><%= post.body %></h3>
                </div>
            </div>
        <% } else if(post.screenshot !== '' && post.painting !== '' && post.url === '') {%>
            <div class="community-page-post-wrapper">
                <img id="<%= post.id %>" class="community-page-post-screenshot" src="data:image/png;base64,<%= post.screenshot %>">
                <img id="<%= post.id%>" class="community-page-post-painting" src="<%= post.painting_uri %>">
            </div>
        <% } else if(post.url !== '' && post.body !== '' && post.screenshot === '' && post.painting === '') {%>
            <div class="community-page-post-wrapper">
                <iframe width="760" height="427.5" src="<%= post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="community-page-post-text-overlay">
                    <h3><%= post.body %></h3>
                </div>
            </div>
        <% } else if(post.url !== '' && post.painting !== '' && post.screenshot === '' && post.body === '') {%>
            <div class="community-page-post-wrapper">
                <iframe width="760" height="427.5" src="<%= post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <img id="<%= post.id%>" class="community-page-post-painting" src="<%= post.painting_uri %>">
            </div>
        <%}%>
        <br>
        <br>
        <% }); %>
    </div>
</div>
<br>
<body onload="stopLoading(); wiiuBrowser.showLoadingIcon(!1)">
</body>
</html>