<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: community.name }); %>
<body>
<%- include('partials/nav_bar', { selection: 2, pid: pid }); %>
<div id="body">
    <header id="header"></header>
    <div class="body-content tab2-content" id="community-post-list">
        <div class="header-banner-container">
            <img src="https://mii.olv.pretendo.cc/headers/<%= community.community_id %>/WiiU.png" class="header-banner with-top-button"></div>

        <div class="community-info info-content with-header-banner">
            <span class="icon-container"><img src="https://mii.olv.pretendo.cc/icons/<%= community.community_id %>/128.png" class="icon"></span>
            <span class="title"><%= community.name %></span>
        </div>
        <div id="new-post-button-container" class="none">
            <a href="#" class="button" data-offset="10" onclick="loadFeedPosts(this)"><%= lang.global.more %></a>
            <div id="new-post"></div>
        </div>
        <div class="tab-body post-list">
            <% if(totalNumPosts === 0) {%>
                <p class="no-posts-text"><%= lang.global.no_posts %></p>
            <%} else { %>
                <% posts.forEach(function(post) { %>
                    <%- include('partials/post_template', { post: post, mii_image_CDN: mii_image_CDN, lang: lang, reply: false  }); %>
                <% }); %>
            <%}%>
        </div>
    </div>
</div>
</body>
</html>