<html>
<head>
    <link rel="stylesheet" type="text/css" href="<%= cdnURL %>/css/juxt.css">
    <script src="<%= cdnURL %>/js/pjax.min.js"></script>
    <script src="<%= cdnURL %>/js/juxt.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-279PNEDGEE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-279PNEDGEE');

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T9NZ7BK');</script>
    <!-- End Google Tag Manager -->
    </script>
</head>
<body>
<menu id="nav-bar">
    <li id="nav-bar-profile" data-pjax="/users/me"><a><%= lang.global.user_page %></a></li>
    <li id="nav-bar-activity-feed" data-pjax="/activity-feed"><a><%= lang.global.activity_feed %></a></li>
    <li id="nav-bar-communities" data-pjax="/communities" class="selected"><a><%= lang.global.communities %></a></li>
    <li id="nav-bar-messages" data-pjax="/messages"><a><%= lang.global.messages %><span id="messages-badge" class="badge" style=""></span></a></li>
    <li id="nav-bar-news" data-pjax="/news"><a><%= lang.global.notifications %><span id="news-badge" class="badge" style=""></span></a></li >
    <li id="nav-bar-exit" onclick="exit()"><a href=""><%= lang.global.close %></a></li>
</menu>
<div id="main">
    <div class="community-page-header" style="background-image: url('/banner/<%= community.community_id %>.png')"></div>
    <div class="community-page-info-container" style="min-height: 150px">
        <img class="community-page-info-icon" src="/icons/<%= community.community_id %>.png">
        <h2 class="community-page-title"><%= community.name %></h2>
        <h4 class="community-page-description"><%= community.description %></h4>
    </div>
    <div class="community-page-posts-wrapper" style="margin-top: -40px;">
        <div id="community-posts-inner-body">
            <% if(totalNumPosts === 0) {%>
                <p class="no-posts-text"><%= lang.global.no_posts %></p>
            <%} else { %>
                <button id="load-more-posts-button" onclick="loadCommunityPosts()">Load More Posts</button>
                <% newPosts.forEach(function(post) { %>
                    <div class="post-user-info-wrapper" id="<%= post.id %>">
                        <%if(post.verified) {%>
                            <img class="community-page-post-user-icon verified" src="https://mii-images.cdn.<%= account_server %>/<%= user.pid %>/<% if(post.feeling_id === 1) {%>smile_open_mouth.png<%} else if(post.feeling_id === 2 ) {%>wink_left.png<%} else if(post.feeling_id === 3 ) {%>surprise_open_mouth.png<%} else if(post.feeling_id === 4 ) {%>frustrated.png<%} else if(post.feeling_id === 5 ) {%>sorrow.png<%} else {%>normal_face.png<%}%>" onclick="loadUserProfile(<%= post.pid %>)">
                            <span class="community-page-verified-user-badge community-page-verified" style=""></span>
                        <%} else {%>
                            <img class="community-page-post-user-icon" src="https://mii-images.cdn.<%= account_server %>/<%= user.pid %>/<% if(post.feeling_id === 1) {%>smile_open_mouth.png<%} else if(post.feeling_id === 2 ) {%>wink_left.png<%} else if(post.feeling_id === 3 ) {%>surprise_open_mouth.png<%} else if(post.feeling_id === 4 ) {%>frustrated.png<%} else if(post.feeling_id === 5 ) {%>sorrow.png<%} else {%>normal_face.png<%}%>" onclick="loadUserProfile(<%= post.pid %>)">
                            <span class="community-page-verified-user-badge community-page-verified" style="display: none;"></span>
                        <%}%>
                        <h2 class="community-page-post-username" onclick="loadUserProfile(<%= post.pid %>)"><%= post.screen_name %></h2>
                        <h4 class="community-page-post-time-stamp"><%= moment(post.created_at).fromNow() %> - <%= community.name %></h4>

                        <div class="community-page-post-yeah-button-wrapper <%if(user.likes.indexOf(post.id) !== -1){ %> selected <%}%>">
                            <div class="community-page-post-yeah-button" onclick="yeah(this.parentNode, <%= post.id %>)"></div>
                        </div>
                        <div id="yeah-<%= post.id %>" class="community-page-post-yeah-count"><%= post.empathy_count %> Yeahs</div>
                    </div>
                    <div class="community-page-post-wrapper">
                        <% if(post.body !== '' && post.painting === '' && post.screenshot === '' && !post.url) { %>
                            <h3><%= post.body %></h3>
                        <%} else { %>
                            <% if(post.screenshot !== '') { %>
                                <img id="<%= post.id %>" class="community-page-post-screenshot" src="data:image/png;base64,<%= post.screenshot %>">
                            <%}%>
                            <% if(post.painting !== '') { %>
                                <img id="<%= post.id%>" class="community-page-post-painting" src="<%= post.painting_uri %>">
                            <%}%>
                            <% if(post.url) { %>
                                <iframe width="760" height="427.5" src="<%= post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <%}%>
                            <% if(post.body) { %>
                                <div class="community-page-post-text-overlay">
                                    <h3><%= post.body %></h3>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
                <% }); %>
            <%}%>
        </div>
    </div>
    <img src="" onerror="wiiuBrowser.showLoadingIcon(!1);window.scroll(0, 0);">
</div>
<br>
<body onload="stopLoading(); wiiuBrowser.showLoadingIcon(!1);wiiuBrowser.lockUserOperation(false);">
</body>
</html>