<html>
<head>
    <link rel="stylesheet" type="text/css" href="<%= cdnURL %>/css/juxt.css">
    <script src="<%= cdnURL %>/js/pjax.min.js"></script>
    <script src="<%= cdnURL %>/js/juxt.js"></script>
    <meta content="<%= community.name %> - Juxtaposition Community" property="og:title" />
    <meta content="<%= community.followers%> Followers" property="og:site_name">
    <meta content="<%= community.description %>" property="og:description" />
    <meta content="https://portal.olv.pretendo.cc/communities/<%= community.community_id %>/new" property="og:url" />
    <meta content="https://portal.cdn.pretendo.cc/icons/<%= community.community_id %>.png" property="og:image" />
    <meta content="#1F8A42" data-react-helmet="true" name="theme-color" />
</head>
<body>
<%- include('nav_bar', { selection: 2 }); %>
<div id="main">
    <div id="overlay-filter">
        <div class="community-page-header" style="background-image: url('http://mii.olv.pretendo.cc/headers/<%= communities[i].community_id %>/WiiU.png')"></div>
        <%- include('scroll_wrapper', { text: community.name, lang: lang }); %>
        <div class="community-page-info-container"  style="height: 120px;">
            <img class="community-page-info-icon" src="http://mii.olv.pretendo.cc/icons/<%= community.community_id %>/128.png">
            <a class="community-page-follow-button-text" style="display: none" id="<%=community.community_id%>"></a>
            <h2 class="community-page-title"><%= community.name %></h2>
            <h4 class="community-page-description"><%= community.description %></h4>
        </div>
        <div>
        </div>
        <div class="community-page-post-box" style="margin-top: 50px;">
            <div id="wrapper">
                <% if(totalNumPosts === 0) {%>
                    <p class="no-posts-text"><%= lang.global.no_posts %></p>
                <%} else { %>
                    <button id="load-more-posts-button" data-offset="20"  onclick="loadCommunityPosts(this, true)"><%= lang.global.more %></button>
                    <% newPosts.forEach(function(post) { %>
                        <%- include('post_template', { post: post, mii_image_CDN: mii_image_CDN, lang: lang, reply: false  }); %>
                    <% }); %>
                <%}%>
            </div>
        </div>
        <br>
        <img src="" onerror="wiiuBrowser.showLoadingIcon(!1);window.scroll(0, 0);">
    </div>
</div>
<br>
<body onload="stopLoading(); wiiuBrowser.showLoadingIcon(!1);wiiuBrowser.lockUserOperation(false);">
</body>
</html>
