<html>
<head>
    <link rel="stylesheet" type="text/css" href="<%= cdnURL %>/css/juxt.css">
    <script src="<%= cdnURL %>/js/pjax.min.js"></script>
    <script src="<%= cdnURL %>/js/juxt.js"></script>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-195842548-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>
<body>
<menu id="nav-bar">
    <li id="nav-bar-profile" data-pjax="/users/me"><a><%= lang.global.user_page %></a></li>
    <li id="nav-bar-activity-feed" data-pjax="/activity-feed"><a><%= lang.global.activity_feed %></a></li>
    <li id="nav-bar-communities" data-pjax="/communities" class="selected"><a><%= lang.global.communities %></a></li>
    <li id="nav-bar-messages" data-pjax="/messages"><a><%= lang.global.messages %><span id="messages-badge" class="badge" style=""></span></a></li>
    <li id="nav-bar-news" data-pjax="/news"><a><%= lang.global.notifications %><span id="news-badge" class="badge" style=""></span></a></li >
    <li id="nav-bar-exit" onclick="exit()"><a href=""><%= lang.global.close %></a></li>
</menu>
<div id="main">
    <h1 class="page-header"><%= lang.global.communities %></h1>
    <div id="admin-announcements" class="communities-wrapper announcements-banner" data-pjax="/communities/announcements">
        <p class="announcements-banner-text"><%= lang.all_communities.ann_string %></p>
    </div>
    <div id="popular" class="communities-wrapper">
        <table style="padding-top: 20px">
            <tbody>
                <tr>
                    <td>
                        <h1 class="communities-header"><%= lang.all_communities.popular_places %></h1>
                    </td>
                    <td>
                        <div data-pjax="/communities/all">
                            <button class="outlined-button" style="margin-left: 575px; margin-top: -20px"><%= lang.all_communities.show_all %></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
            <tr>
                <% for(var i = 0; i < popularCommunities.length; i++) {%>
                    <td>
                        <div class="community-list-wrapper" data-pjax="/communities/<%= popularCommunities[i].community_id %>/new">
                            <img class="community-list-icon" src="<%= cdnURL %>/icons/<%= popularCommunities[i].community_id %>.png">
                            <h2 class="community-list-title"><%= popularCommunities[i].name %></h2>
                            <h4 class="community-list-followers"><%= popularCommunities[i].followers %> followers</h4>
                        </div>
                    </td>
                    <% if( (i + 1) % 3 === 0) { %>
            </tr>
            <tr>
                <% } %>
                <% } %>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="new" class="communities-wrapper">
        <h1 class="communities-header"><%= lang.all_communities.new_communities %></h1>
        <table>
            <tbody>
            <tr>
                <% for(var j = 0; j < newCommunities.length; j++) {%>
                    <td>
                        <div class="community-list-wrapper" data-pjax="/communities/<%= newCommunities[j].community_id %>/new">
                            <img class="community-list-icon" src="<%= cdnURL %>/icons/<%= newCommunities[j].community_id %>.png">
                            <h2 class="community-list-title"><%= newCommunities[j].name %></h2>
                            <h4 class="community-list-followers"><%= newCommunities[j].followers %> followers</h4>
                        </div>
                    </td>
                    <% if( (j + 1) % 3 === 0) { %>
            </tr>
            <tr>
                <% } %>
                <% } %>
            </tr>
            </tbody>
        </table>
    </div>
    <img src="" onerror="wiiuBrowser.showLoadingIcon(!1);window.scroll(0, 0);">
</div>
<body onload="stopLoading();">
</body>
</html>