<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: community.name }); %>
<body>
<%- include('partials/nav_bar', { selection: 2, pid: pid }); %>
<div id="body">
    <header id="header">
        <%if(userContent.pid !== 1000000000 && userSettings.account_status === 0) {%>
        <a id="header-post-button" class="header-button" href="#" data-module-hide="community-post-list" data-module-show="add-post-page" data-header="false" data-menu="false">Post</a>
        <%}%>
        <!--<a id="header-communities-button" href="related" data-pjax="#body">Related Communities</a>-->
    </header>
    <div class="body-content tab2-content" id="community-post-list">
        <div class="header-banner-container">
            <img src="https://mii.olv.pretendo.cc/headers/<%= community.community_id %>/WiiU.png" class="header-banner with-top-button"></div>

        <div class="community-info info-content with-header-banner">
            <span class="icon-container"><img src="https://mii.olv.pretendo.cc/icons/<%= community.community_id %>/128.png" class="icon"></span>
            <a href="#" class="favorite-button button <%if(userContent.followed_communities.indexOf(community.community_id) !== -1){ %>checked<%}%>" data-sound="SE_WAVE_CHECKBOX_UNCHECK" data-community-id="<%= community.community_id %>"></a>
            <span class="title"><%= community.name %></span>
            <!--<span class="text"><span class="game">New Super Luigi</span><span class="rating">ESRB: Everyone</span></span>-->
        </div>
        <menu class="tab-header">
            <li id="tab-header-post" class="tab-button <%if(type === 0){ %>selected<%}%>">
                <a href="/titles/<%= community.community_id %>/new" data-sound="SE_WAVE_SELECT_TAB"><span class="new-post"><%= lang.community.recent %></span></a>
            </li>
            <li id="tab-header-hot-post" class="tab-button <%if(type === 1){ %>selected<%}%>"><a href="/titles/<%= community.community_id %>/hot" data-sound="SE_WAVE_SELECT_TAB"><span><%= lang.community.popular %></span></a></li>
        </menu>
        <div id="new-post-button-container" class="none">
            <a href="#" class="button" data-offset="10"><%= lang.global.more %></a>
            <div id="new-post"></div>
        </div>
        <div class="tab-body post-list">
            <%- include('partials/' + template, { bundle }); %>
        </div>
    </div>
    <%- include('partials/new_post', { pid, lang, id: community.community_id, name: community.name }); %>
</div>
</body>
</html>