<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: title }); %>
<body>
<%- include('partials/nav_bar', { selection: -1, pid: pid }); %>
<div id="body">
    <header id="header">
        <h1 id="page-title" class="left"><%= title %></h1>
    </header>
    <div id="new-post-button-container" class="none">
        <a href="#" class="button" data-offset="10" onclick="loadFeedPosts(this)"><%= lang.global.more %></a>
        <div id="new-post"></div>
    </div>
    <div class="body-content" id="activity-feed">
		<menu class="tab-header">
			<li id="tab-header-my-feed" class="tab-button <%if(tab === 0){ %>selected<%}%>" data-show-post-button="1">
				<a href="/feed/" data-pjax-replace="1" data-sound="SE_WAVE_SELECT_TAB">
					<span class="new-post">My Feed</span>
				</a>
			</li>
			<li id="tab-header-global-feed" class="tab-button <%if(tab === 1){ %>selected<%}%>">
				<a href="/feed/all" data-pjax-cache-container="#body" data-pjax-replace="1" data-sound="SE_WAVE_SELECT_TAB">
					<span>Global Feed</span>
				</a>
			</li>
		</menu>
        <div class="tab-body post-list">
            <%- include('partials/' + template, { bundle }); %>
        </div>
    </div>
</div>
<body onload="stopLoading();wiiuBrowser.lockUserOperation(false);">
</body>
</html>
