<html>
<head>
    <link rel="stylesheet" type="text/css" href="<%= cdnURL %>/css/juxt.css">
    <script src="<%= cdnURL %>/js/pjax.min.js"></script>
    <script src="<%= cdnURL %>/js/juxt.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics Testing-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-195842548-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-195842548-1');
    </script>

</head>
<body>
<menu id="nav-bar">
    <li id="nav-bar-profile" data-pjax="/users/me"><a><%= lang.global.user_page %></a></li>
    <li id="nav-bar-activity-feed" data-pjax="/activity-feed" class="selected"><a><%= lang.global.activity_feed %></a></li>
    <li id="nav-bar-communities" data-pjax="/communities"><a><%= lang.global.communities %></a></li>
    <li id="nav-bar-messages" data-pjax="/messages"><a><%= lang.global.messages %><span id="messages-badge" class="badge" style=""></span></a></li>
    <li id="nav-bar-news" data-pjax="/news"><a><%= lang.global.notifications %><span id="news-badge" class="badge" style=""></span></a></li >
    <li id="nav-bar-exit" onclick="exit()"><a href=""><%= lang.global.close %></a></li>
</menu>
<div id="main">
    <h1 id="title" class="page-header"><%= lang.global.activity_feed %></h1>
    <div class="community-page-posts-wrapper">
        <div id="community-posts-inner-body">
            <% if(posts.length === 0) {%>
                <p class="no-posts-text"><%= lang.activity_feed.empty %></p>
            <%} else { %>
                <button id="load-more-posts-button" onclick="loadFeedPosts()"><%= lang.global.more %></button>
                <% posts.forEach(function(post) { %>
                    <%- include('post_template', { post: post, mii_image_CDN: mii_image_CDN, lang: lang }); %>
                <% }); %>
            <%}%>
        </div>
    </div>

    <img src="" onerror="wiiuBrowser.showLoadingIcon(!1);window.scroll(0, 0);">
</div>
<body onload="stopLoading();wiiuBrowser.lockUserOperation(false);">
</body>
</html>