<style>
    .post-user-info-wrapper {
        margin-left: 30px;
    }
    .posts-wrapper {
        height: 135px;
        margin-bottom: 10px;
    }
</style>
<% followers.forEach(function(user) { %>
    <div class="posts-wrapper" onclick="pjax.loadUrl('/users/show?pid=<%= user.pid %>')">
        <div class="post-user-info-wrapper" id="<%= user.pid %>">
            <%if(user.official) {%>
                <img class="community-page-post-user-icon verified" src="https://mii-images.cdn.<%= account_server %>/<%= user.pid %>/normal_face.png">
                <span class="community-page-verified-user-badge community-page-verified" style=""></span>
            <%} else {%>
                <img class="community-page-post-user-icon" src="https://mii-images.cdn.<%= account_server %>/<%= user.pid %>/normal_face.png">
                <span class="community-page-verified-user-badge community-page-verified" style="display: none;"></span>
            <%}%>
            <h2 class="community-page-post-username" style="padding-top: 13px;" data-pjax="/users/show?pid=<%= user.pid %>"><%= user.user_id %></h2>
            <h4 class="community-page-post-time-stamp" style="width: 400px;white-space: nowrap;overflow: hidden;"><% if(user.profile_comment_visibility){%><%=user.profile_comment%><%}%></h4>
        </div>
    </div>
<% }); %>

<% communities.forEach(function(community) { %>
    <div class="posts-wrapper" onclick="pjax.loadUrl('/communities/<%= community %>/new')">
        <div class="post-user-info-wrapper" id="<%= community %>">
            <img class="community-page-post-user-icon" src="<%= cdnURL %>/icons/<%= community %>.png">
            <h2 class="community-page-post-username" data-pjax="/communities/<%= community %>/new"><%= communityMap.get(community) %></h2>
            <h4 class="community-page-post-time-stamp" style="width: 400px;white-space: nowrap;overflow: hidden;"><%=community.description%></h4>
        </div>
    </div>
<% }); %>

<div style="height: 30px"></div>
<img src="" onerror="initCommunityUsers()">