<!DOCTYPE html>
<html>
<%- include('head', { title: pnid.mii.name }); %>
<body>
<%- include('nav_bar', { selection: 1, pid: pid }); %>
<div id="body">
    <header id="header">
        <a id="header-communities-button" class="user-page" href="/users/me/settings" data-pjax="#body">Settings</a>
    </header>
    <div class="body-content tab2-content" id="community-post-list">
        <div class="header-banner-container">
            <img src="/images/banner.png" class="header-banner with-top-button">
        </div>
        <div class="community-info info-content with-header-banner">
            <span class="icon-container"><img src="https://mii.olv.pretendo.cc/mii/<%=pnid.pid%>/normal_face.png" class="icon" alt=""></span>
            <span class="title"><%= pnid.mii.name %></span>
            <span class="text"><span class="game">@<%= pnid.username %></span><span>|  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 200"><rect width="256" height="256" fill="none"></rect><polygon points="128 160 96 160 96 128 192 32 224 64 128 160" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></polygon><line x1="164" y1="60" x2="196" y2="92" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line><path d="M216,128.6V208a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V48a8,8,0,0,1,8-8h79.4" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></path></svg> <%=numPosts%></span><span>|  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 200"><rect width="256" height="256" fill="none"></rect><line x1="204" y1="136" x2="244" y2="136" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line><line x1="224" y1="116" x2="224" y2="156" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line><circle cx="108" cy="100" r="60" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></circle><path d="M22.2,200a112,112,0,0,1,171.6,0" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></path></svg> <%= userContent.following_users.length - 1 %></span></span>
            <!--<span>
        <td>
                    <div class="supporter-star mario">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
                    </div>
                </td>
                <td>
                    <div class="supporter-star super">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
                    </div>
                </td>
                <td>
                    <div class="supporter-star mega">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
                    </div>
                </td>
                <%if(pnid.access_level === 3) {%>
                <td>
                    <div class="supporter-star dev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 30 30" fill="rainbow" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tool">
                            <defs>
                                <linearGradient id="rainbow">
                                    <stop offset="16%" stop-color="red" />
                                    <stop offset="32%" stop-color="orange" />
                                    <stop offset="48%" stop-color="yellow" />
                                    <stop offset="64%" stop-color="green" />
                                    <stop offset="80%" stop-color="blue" />
                                    <stop offset="96%" stop-color="purple" />
                                </linearGradient>
                            </defs>
                            <path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"/>
                        </svg>
                    </div>
                </td>
                <%}%>
                <%if(pnid.access_level === 2) {%>
                <td>
                    <div class="supporter-star admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/></svg>
                    </div>
                </td>
                <%}%>
                <%if(pnid.access_level === 1) {%>
                <td>
                    <div class="supporter-star tester">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 30 30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award"><circle cx="12" cy="8" r="7"/><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"/></svg>
                    </div>
                </td>
                <%}%>
      </span>-->
        </div>
        <menu class="tab-header user-page">
            <li id="tab-header-post" class="tab-button selected">
                <a href="/users/me" data-sound="SE_WAVE_SELECT_TAB">
                    <span class="new-post"><%= lang.user_page.posts %></span>
                </a>
            </li>
            <li id="tab-header-friends" class="tab-button">
                <a href="/users/me/friends" data-sound="SE_WAVE_SELECT_TAB">
                    <span><%= lang.user_page.friends %></span>
                </a>
            </li>
            <li id="tab-header-following" class="tab-button">
                <a href="/users/me/following" data-sound="SE_WAVE_SELECT_TAB">
                    <span><%= lang.user_page.following %></span>
                </a>
            </li>
            <li id="tab-header-followers" class="tab-button">
                <a href="/users/me/followers" data-sound="SE_WAVE_SELECT_TAB">
                    <span><%= lang.user_page.followers %></span>
                </a>
            </li>
        </menu>
        <div class="tab-body post-list">
            <% if(numPosts === 0) {%>
                <p class="no-posts-text"><%= lang.global.no_posts %></p>
            <%} else { %>
                <% newPosts.forEach(function(post) { %>
                    <%- include('post_template', { post: post, mii_image_CDN: mii_image_CDN, lang: lang, user: userContent, reply: false  }); %>
                <% }); %>
            <%}%>
        </div>
        <div class="button-wrapper center">
            <button type="button" class="load-more"><%= lang.global.more %></button>
        </div>

    </div>
</div>
</body>
</html>