<html>
<head>
    <link rel="stylesheet" type="text/css" href="<%= cdnURL %>/css/juxt.css">
    <script src="<%= cdnURL %>/js/pjax.min.js"></script>
    <script src="<%= cdnURL %>/js/juxt.js"></script>
</head>
<body>
<%- include('nav_bar', { selection: 3 }); %>
<div id="main">
    <h1 id="title" class="page-header"><%= lang.global.messages %></h1>
    <div class="community-page-posts-wrapper">
        <table cellspacing="0" style="margin-top: 25px">
            <tbody id="messages-list">
            <% if(conversations.length === 0) {%>
                <p class="no-posts-text"><%= lang.messages.coming_soon %></p>
            <%} else { %>
                <% conversations.forEach(function(conversation) { %>
                    <%
                        // get the PID of the opposite user
                        var userObj /*= conversation.users[0].toString() === user.pid.toString() ? conversation.users[1] : conversation.users[0];*/
                        if(conversation.users[0].toString() === user.pid.toString())
                            userObj = conversation.users[1];
                        else
                            userObj = conversation.users[0];
                        var me = conversation.users[0].toString() === user.pid.toString() ? conversation.users[0] : conversation.users[1];
                    %>
                    <tr class="message-wrapper" onclick="showMessage('<%= conversation.id %>')">
                        <td class="messages-unread-badge-wrapper">
                            <%if(!me.read) {%><div class="unread-badge"></div><%}%>
                        </td>
                        <td>
                                <img class="community-page-post-user-icon <%if(userObj.official) {%> verified<%}%>" src="<%= mii_image_CDN %>/<%= userObj.pid %>/normal_face.png">
                                <span class="message-page-verified-user-badge community-page-verified" style=""></span>
                        </td>
                        <td>
                            <h2 class="message-list-title <%if(userObj.official) {%>verified-badge<%}%>"><%= usersMap.get(userObj.pid) %></h2>
                            <h4 class="message-list-timestamp <%if(userObj.official) {%>verified<%}%>"> - <%= moment(conversation.last_updated).fromNow() %></h4>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2" class="message-list-preview"><%= conversation.message_preview %></td>
                    </tr>
                <% }); %>
            <%}%>
            </tbody>
        </table>
    </div>
    <img src="" onerror="wiiuBrowser.showLoadingIcon(!1);window.scroll(0, 0);">
</div>
<body onload="stopLoading();wiiuBrowser.lockUserOperation(false);">
</body>
</html>
