<h1 id="title" class="page-header">Notifications</h1>

<div id="messages-list-wrapper">
    <table cellspacing="0">
        <tbody id="messages-list">
        <% let i = 0; user.notification_list.reverse().forEach(function(notification) { %>
            <% if(i === 0) { %>
                <tr class="message-wrapper" onclick="location.href='<%=notification.link%>'">
                    <td class="messages-unread-badge-wrapper top">
                        <%if(!notification.read) {%><div class="unread-badge"></div><%}%>
                    </td>
                    <td class="messages-list-wrapper top">
                        <h3 class="notifications-list-content"><%= notification.content %><span style="color: rgba(113,141,148,1)"> - <%= moment(notification.created_at).fromNow() %></span></h3>
                    </td>
                </tr>
                <%i = -1;%>
            <%} else {%>
                <tr class="message-wrapper" onclick="location.href='<%=notification.link%>'">
                    <td class="messages-unread-badge-wrapper">
                        <%if(!notification.read) {%><div class="unread-badge"></div><%}%>
                    </td>
                    <td class="messages-list-wrapper">
                        <h3 class="notifications-list-content"><%= notification.content %><span style="color: rgba(113,141,148,1)"> - <%= moment(notification.created_at).fromNow() %></span></h3>
                    </td>
                </tr>
            <%}%>
        <%});%>
            </tr>
                <td></td>
                <td class="messages-list-wrapper end"></td>
            </tr>
        </tbody>
    </table>
</div>
<img src="" onerror="wiiuBrowser.showLoadingIcon(!1);wiiuBrowser.lockUserOperation(false);">