<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: lang.global.activity_feed }); %>
<body>
<%- include('partials/nav_bar', { selection: -1, pid: pid }); %>
<div id="body">
    <header id="header">
        <h1 id="page-title" class="left"><%= post.screen_name %></h1>
        <% if(post.community_id !== 'announcements') {%>
        <a id="header-post-button" class="header-button" href="#" data-module-hide="post" data-module-show="add-post-page" data-header="false" data-menu="false">Reply</a>
        <%}%>
    </header>
    <div class="body-content post-list" id="post">
        <div class="post-wrapper">
            <%- include('partials/post_template', { post: post, mii_image_CDN: mii_image_CDN, lang: lang, reply: false, pid: pid  }); %>
        </div>
        <% replies.forEach(function(post) { %>
            <%- include('partials/post_template', { post: post, mii_image_CDN: mii_image_CDN, lang: lang, reply: true, pid: pid  }); %>
            <span class="replies-line"></span>
        <% }); %>
    </div>
    <% if(post.community_id !== 'announcements') {%>
    <%- include('partials/new_post', { pid, lang, id: post.community_id, name: post.screen_name, url: `/posts/${post.id}/new`, show: 'post', message_pid: '' }); %>
    <%}%>
</div>
</body>
</html>
