<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Juxt Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/css/juxt.css">
</head>
<body>

<h2 style="display: inline-block; margin-left: 20px">Juxt Admin Panel - <%= parentUser.user_id %></h2> <img style="width: 57px; display: inline-block; position: absolute; right: 8px;" src="<%= parentUser.pfp_uri %>">

<div class="row">
    <div class="left" style="background-color:#bbb;max-width: 10%;">
        <ul id="myMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/communities">Communities</a></li>
            <li><a href="/audit">Audit Log</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/discovery">Discovery</a></li>
        </ul>
    </div>

    <div class="right" style="background-color:#ddd;">
        <div class="community-page-info-container">
            <img class="community-page-info-icon" src="<%= user.pfp_uri %>">
            <h2 class="community-page-title"><%= user.user_id %></h2>
            <h4 class="community-page-description"><%= user.profile_comment %></h4>
            <button type="button" style="margin-left: 20px; width: 760px" onclick="window.location='/users/<%= user.pid %>/edit'">Edit</button>
            <div class="community-page-margin-line"></div>
            <table class="community-page-table-wrapper">
                <tbody>
                <tr>
                    <td>
                        <div class="community-page-shaded-info-container">
                            <h4 class="community-page-table-label">Country</h4>
                            <h4 class="community-page-table-text">N/A</h4>
                        </div>
                    </td>
                    <td>
                        <div class="community-page-shaded-info-container">
                            <h4 class="community-page-table-label">Birthday</h4>
                            <h4 class="community-page-table-text">N/A</h4>
                        </div>
                    </td>
                    <td>
                        <div class="community-page-shaded-info-container">
                            <h4 class="community-page-table-label">Game experience</h4>
                            <h4 class="community-page-table-text">
                                <%if(user.game_skill === 0) {%>
                                    Beginner
                                <%} else if(user.game_skill === 1) {%>
                                    Intermediate
                                <%} else if(user.game_skill === 2) {%>
                                    Expert
                                <%} else {%>
                                    N/A
                                <%}%>
                            </h4>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="community-page-posts-wrapper">
            <% if(numPosts === 0) {%>
                <p>No Posts</p>
            <%} else { %>
                <% newPosts.forEach(function(post) {  %>
                        <div id="<%= post.id %>">
                            <div class="post-user-info-wrapper">
                                <%if(post.verified) {%>
                                    <img class="community-page-post-user-icon verified" src="<%= post.mii_face_url %>" onclick="loadUserProfile(<%=post.pid%>)">
                                    <span class="community-page-verified-user-badge community-page-verified" style=""></span>
                                <%} else {%>
                                    <img class="community-page-post-user-icon" src="<%= post.mii_face_url %>" onclick="loadUserProfile(<%=post.pid%>)">
                                    <span class="community-page-verified-user-badge community-page-verified" style="display: none;"></span>
                                <%}%>
                                <h2 class="community-page-post-username" onclick="loadUserProfile(<%=post.pid%>)"><%= post.screen_name %></h2>
                                <h4 class="community-page-post-time-stamp"><%= post.created_at %></h4>

                                <div class="community-page-post-yeah-button-wrapper">
                                    <div class="community-page-post-yeah-button" onclick="deletePost(event, '<%= post.id %>')"></div>
                                </div>
                                <div id="yeah-<%= post.id %>" class="community-page-post-yeah-count"><%= post.empathy_count %> Yeahs</div>
                            </div>
                            <div class="community-page-post-wrapper">
                                <% if(post.body !== '' && post.painting === '' && post.screenshot === '' && !post.url) { %>
                                    <h3><%= post.body %></h3>
                                <%} else { %>
                                    <% if(post.screenshot !== '') { %>
                                        <img class="community-page-post-screenshot" src="data:image/png;base64,<%= post.screenshot %>">
                                    <%}%>
                                    <% if(post.painting !== '') { %>
                                        <img class="community-page-post-painting" src="<%= post.painting_uri %>">
                                    <%}%>
                                    <% if(post.url) { %>
                                        <iframe width="760" height="427.5" src="<%= post.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <%}%>
                                    <% if(post.body) { %>
                                        <div class="community-page-post-text-overlay">
                                            <h3><%= post.body %></h3>
                                        </div>
                                    <%}%>
                                <%}%>
                            </div>
                        </div>
                <% }); %>
                    <button id="load-more-posts-button" onclick="loadUserPosts()">Load More Posts</button>
            <%}%>
        </div>
    </div>
</div>
<script>
    function deletePost(event, postID) {
        if (event.shiftKey) {
            var post = document.getElementById(postID);
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    post.style.display = 'none';
                }
                else if (this.readyState === 4){
                    alert('Error: "' + this.statusText + '"\nPlease send code to Jemma on Discord with what you were doing');
                }
            };
            xhttp.open("POST", "/v1/posts/" + postID + '/delete', true);
            xhttp.send();
        } else {
            if(confirm('Delete post?')) {
                var post = document.getElementById(postID);
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status === 200) {
                        post.style.display = 'none';
                    }
                    else if (this.readyState === 4){
                        alert('Error: "' + this.statusText + '"\nPlease send code to Jemma on Discord with what you were doing');
                    }
                };
                xhttp.open("POST", "/v1/posts/" + postID + '/delete', true);
                xhttp.send();
            }
        }
    }

    function loadUserPosts() {
        var id = document.getElementsByClassName('post-user-info-wrapper')[document.getElementsByClassName('post-user-info-wrapper').length - 1].id
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementsByClassName('community-page-posts-wrapper')[0].innerHTML += this.responseText;
            }
            else if(this.readyState === 4 && this.status === 204)
            {
                document.getElementById('load-more-posts-button').style.display = 'none';
            }
            else if (this.readyState === 4){
                alert('Error: "' + this.statusText + '"\nPlease send code to Jemma on Discord with what you were doing');
            }
        };
        xhttp.open("GET", "/users/loadPosts" + '?postID=' + id, true);
        xhttp.send();
    }
</script>
</body>
</html>
