<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit - <%= user.user_id %></title>
    <link rel="stylesheet" type="text/css" href="/css/juxt.css">
</head>
<body>

<h2 style="display: inline-block; margin-left: 20px">Juxt Admin Panel - <%= parentUser.user_id %></h2> <img style="width: 57px; display: inline-block; position: absolute; right: 8px;" src="<%= parentUser.pfp_uri %>">

<div class="row">
    <div class="left" style="background-color:#bbb;max-width: 10%;">
        <ul id="myMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/communities">Communities</a></li>
            <li><a href="/audit">Audit Log</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/discovery">Discovery</a></li>
        </ul>
    </div>

    <div class="right" style="background-color:#ddd;">
        <h2>Update <%= user.user_id %></h2>
        <form action="/v1/users/<%= user.pid %>/update" enctype="multipart/form-data" target="formSubmitFrame" method="post">
            <div class="form-section">
                <div class="section-info">
                    <h2>Account Standing</h2>
                </div>
                <div class="section-inputs">
                    <div class="input-div choices-inputs">
                        Account Status
                        <input type="radio" id="account_status" name="account_status" value="0" <%if(user.account_status === 0) {%> checked <%}%>>
                        <label for="Fine">Fine</label>
                        <input type="radio" id="posting_limited" name="account_status" value="1" <%if(user.account_status === 1) {%> checked <%}%>>
                        <label for="posting_limited">Limited from Posting</label>
                        <input type="radio" id="temp_ban" name="account_status" value="2" <%if(user.account_status === 2) {%> checked <%}%>>
                        <label for="temp_ban">Temporary Ban</label>
                        <input type="radio" id="forever_ban" name="account_status" value="3" <%if(user.account_status === 3) {%> checked <%}%>>
                        <label for="forever_ban">Forever Ban</label>
                    </div>

                    <label for="ban_date">Banned Until:</label>
                    <input type="date" id="ban_date" name="ban_date" value="<%=moment(user.ban_lift_date).format('YYYY-MM-DD');%>">

                    <div class="input-div">
                        <label for="ban_reason">Ban reason:</label>
                        <textarea type="text" id="ban_reason" name="ban_reason"><%=user.ban_reason%></textarea>
                    </div>

                </div>
            </div>

            <div class="form-section">
                <div class="section-info">
                    <h2>Submit</h2>
                    <p></p>
                </div>
                <div class="section-inputs">
                    <div>
                        <button type="submit" class="btn">Submit</button>
                    </div>
                    <iframe name="formSubmitFrame"></iframe>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
