<html>
<head>
    <title>Juxt - <%= community.name %></title>
    <%- include('partials/head'); %>
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Juxt - <%= community.name %>">
    <meta itemprop="description" content="<%= community.description %>">
    <meta itemprop="image" content="https://pretendo-cdn.b-cdn.net/icons/<%= community.community_id %>/128.png">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Juxt - <%= community.name %>"/>
    <meta property="og:description" content="<%= community.description %>"/>
    <meta property="og:url" content="https://juxt.pretendo.cc/communities/<%= community.community_id %>/new"/>
    <meta property="og:image" content="https://pretendo-cdn.b-cdn.net/icons/<%= community.community_id %>/128.png"/>
    <meta property="og:site_name" content="Juxtaposition" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Juxt - <%= community.name %>"/>
    <meta name="twitter:description" content="<%= community.description %>"/>
    <meta name="twitter:site" content="@PretendoNetwork"/>
    <meta name="twitter:image" content="https://pretendo-cdn.b-cdn.net/icons/<%= community.community_id %>/128.png"/>
    <meta name="twitter:creator" content="@PretendoNetwork"/>

</head>
<body>
<div id="main">
    <h2 id="title" class="page-header"><%= lang.global.communities %></h2>
    <%- include('partials/nav_bar', { selection: 2, pid: pid }); %>
    <div id="toast"></div>
    <div id="wrapper" class="community-page-post-box">
        <div class="community-top">
            <div class="community-info">
                <img class="user-icon" src="https://pretendo-cdn.b-cdn.net/icons/<%= community.community_id %>/128.png"/>
                <h2 class="community-title"><%= community.name %></h2>
            </div>
            <h4 class="community-description"><%= community.description %></h4>
            <span class="community-page-follow-button-text" id="<%= community.community_id %>"></span>
        </div>
        <% if(totalNumPosts === 0) {%>
            <p class="no-posts-text"><%= lang.global.no_posts %></p>
        <%} else { %>
            <% posts.forEach(function(post) { %>
                <%- include('partials/post_template', { post: post, mii_image_CDN: mii_image_CDN, lang: lang, reply: false  }); %>
            <% }); %>
        <%}%>
    </div>
    <!--<table class="community-page-posts-header switcher">
        <tbody>
        <tr>
            <td>
                <h4 id="recent-tab" onclick="loadPosts(0)" class="community-page-posts-header-tab active"><%= lang.community.recent %></h4>
            </td>
            <td>
                <h4 id="popular-tab" onclick="loadPosts(1)" class="community-page-posts-header-tab"><%= lang.community.popular %></h4>
            </td>
            <td>
                <h4 id="verified-tab" onclick="loadPosts(2)" class="community-page-posts-header-tab"><%= lang.community.verified %></h4>
            </td>
        </tr>
        </tbody>
    </table>-->
</div>
</body>
</html>
