<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%= /*cdnURL*/ %>/css/juxt.css">
    <script src="https://portal.cdn.pretendo.cc/js/pjax.min.js"></script>
    <script src="https://portal.cdn.pretendo.cc/js/juxt.js"></script>
    <link rel="manifest" href="/web/manifest.json">
    <!-- Global site tag (gtag.js) - Google Analytics Testing-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-195842548-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-195842548-1');
    </script>

</head>
<body>
<div id="main">
    <h2 id="title" class="page-header"><%= lang.global.messages %></h2>
    <%- include('partials/nav_bar', { selection: 3, pid: pid }); %>
    <div id="toast"></div>
    <div id="wrapper">
        <% if(conversations.length === 0) {%>
            <p class="no-posts-text"><%= lang.messages.coming_soon %></p>
        <%} else { %>
            <% conversations.forEach(function(conversation) { %>
                <%
                    // get the PID of the opposite user
                    var userObj, me;
                    if(conversation.users[0].pid === pid) {
                        userObj = conversation.users[1];
                        me = conversation.users[0];
                    }
                    else if(conversation.users[1].pid === pid) {
                        userObj = conversation.users[0];
                        me = conversation.users[1];
                    }
                %>
                <li>
                    <a href="/users/show?pid=<%= userObj.pid %>" data-pjax="#body"
                       class="icon-container trigger"><img src="https://mii.olv.pretendo.cc/mii/<%= userObj.pid %>/normal_face.png" class="icon<%if(userObj.official) {%> verified<%}%>"></a>
                    <a href="/friend_messages/<%= conversation.id %>" data-pjax="#body" class="arrow-button"></a>
                    <div class="body">
                        <p class="title">
                            <span class="nick-name"><%= usersMap.get(userObj.pid) %></span>
                            <span class="id-name">@<%= usersMap.get(userObj.pid) %></span>
                        </p>
                        <span class="timestamp"><%= moment(conversation.last_updated).fromNow() %></span>
                        <p class="text"><%= conversation.message_preview %></p>
                    </div>
                </li>
        <% });} %>
    </div>
</div>
<script>
    window.onscroll = function(ev) {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            document.getElementById('load-more-posts-button').click();
        }
    };
    function copyToClipboard(text) {
        let inputc = document.getElementsByTagName("header")[0].appendChild(document.createElement("input"));
        inputc.value = text;
        inputc.focus();
        inputc.select();
        document.execCommand('copy');
        inputc.parentNode.removeChild(inputc);
        Toast("Copied to clipboard.");
    }
    function Toast(text) {
        var x = document.getElementById("toast");
        x.innerText = text;
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
</script>

</body>
</html>
