<div id="add-post-page" class="add-post-page official-user-post" style="display: none;">
    <form method="post" action="<%=url%>" id="posts-form" data-is-own-title="1" data-is-identified="1">
        <input type="hidden" name="community_id" value="<%= id %>"/>
        <div class="add-post-page-content">
            <div class="feeling-selector expression">
                <img src="https://cdn.pretendo.cc/mii/<%= pid %>/normal_face.png" id="mii-face" class="icon">
                <ul class="buttons">
                    <li><input type="radio" name="feeling_id" value="0" class="feeling-button-normal"
                            data-mii-face-url="https://cdn.pretendo.cc/mii/<%= pid %>/normal_face.png" checked
                            data-sound="SE_WAVE_MII_FACE_00">
                    </li>
                    <li>
                        <input type="radio" name="feeling_id" value="1" class="feeling-button-happy"
                            data-mii-face-url="https://cdn.pretendo.cc/mii/<%= pid %>/smile_open_mouth.png"
                            data-sound="SE_WAVE_MII_FACE_01">
                    </li>
                    <li>
                        <input type="radio" name="feeling_id" value="2" class="feeling-button-like"
                            data-mii-face-url="https://cdn.pretendo.cc/mii/<%= pid %>/wink_left.png"
                            data-sound="SE_WAVE_MII_FACE_02">
                    </li>
                    <li>
                        <input type="radio" name="feeling_id" value="3" class="feeling-button-surprised"
                            data-mii-face-url="https://cdn.pretendo.cc/mii/<%= pid %>/surprise_open_mouth.png"
                            data-sound="SE_WAVE_MII_FACE_03">
                    </li>
                    <li>
                        <input type="radio" name="feeling_id" value="4" class="feeling-button-frustrated"
                            data-mii-face-url="https://cdn.pretendo.cc/mii/<%= pid %>/frustrated.png"
                            data-sound="SE_WAVE_MII_FACE_04">
                    </li>
                    <li>
                        <input type="radio" name="feeling_id" value="5" class="feeling-button-puzzled"
                            data-mii-face-url="https://cdn.pretendo.cc/mii/<%= pid %>/sorrow.png"
                            data-sound="SE_WAVE_MII_FACE_05">
                    </li>
                </ul>
            </div>
            <div class="textarea-container textarea-with-menu active-text">
                <menu class="textarea-menu">
                    <li class="textarea-menu-text">
                        <input type="radio" name="_post_type" value="body" checked data-sound="" onclick="openText()">
                    </li>
                    <li class="textarea-menu-memo">
                        <input type="radio" name="_post_type" value="painting" data-sound="" onclick="newPainting(false)" disabled>
                    </li>
				</menu>
				<textarea id="new-post-text" name="body" class="textarea-text" value="" maxlength="280" placeholder="Enter text here..."></textarea>
				<div id="new-post-memo" class="textarea-memo trigger" data-sound="" onclick="newPainting(false)" style="display: none;">
					<img id="memo" class="textarea-memo-preview" src="">
					<input id="memo-value" type="hidden" name="painting">
				</div>
            </div>
            <label class="checkbox-container spoiler-button">
                Spoilers
                <input type="checkbox" id="spoiler" name="spoiler" value="true">
                <span class="checkmark"></span>
            </label>
        </div>
		<div id="button-wrapper">
 			<input id="message_to_pid" type="hidden" name="message_to_pid" <%if(message_pid) {%>value="<%= message_pid %><%}%>">
			<input type="button" class="olv-modal-close-button fixed-bottom-button left"
				value="Cancel" data-sound="SE_WAVE_CANCEL"
				data-module-show="<%= show %>" data-module-hide="add-post-page"
				data-header="true" data-menu="true">
			<input type="submit" class="post-button fixed-bottom-button" value="Post">
		</div>
    </form>
</div>